.block_question{
	margin-top: 4%;
}

.surveyPage:hover{
	cursor: pointer;

}

#fillInName{
	line-height: 2.5vw;
	font-size: 1.7vw;
}

.backButton{
	margin-top: 2%;
	margin-left: 2%;
	width: 10%;
	padding: 1%;
	position: absolute;
	background-color: #F2ECD6;
	font-family: 'Roboto';
	border: none;
	font-size: 1.3vw;
	border-radius: 7vw;
}

.likert{
	display: flex;
	flex-wrap: wrap;
	margin-top: 2%;
}

.likert li{
	width: 20%;
}





input{
	display: block;
	margin-top: 1%;
	margin-bottom: 2%;
	padding: .5%;
	min-width: 30%;
	max-width: 40%;
	font-family: 'Roboto';
	font-size: 1.2vw;
	color: grey;
}

label{
	font-family: 'Roboto';
	margin-top: 5%;
}

#buttonInsert{
	margin: 0 auto; 
	display: block;
	font-family: 'Roboto';
	color: white;
	background-color: blue;
	padding: 1.5%;
	border-radius: 2vw;
	border: none;
	width: 14%;
	font-size: 1.3vw;
}

button:hover{
	cursor: pointer;
}

.text p{
	font-family: 'Roboto';
	margin-top: 5%;

}

.survey{
	width: 80%; 
	margin: 3% auto; 
	display: block;
	font-family: 'Roboto';
}

.survey p{
	font-family: 'Roboto';
	
}

.send{
	width: 80%; 
	margin: 6% auto; 
	display: block;
}


/* Animations */

.surveyPage {
  width: 100%;
  height: 100%;
  animation-name: surveyBackground;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes surveyBackground {
  from {
    background-color: #FFFFFF;
  }
  to {
    background-color: #000000;
  }
}

.logoImage{
	animation-name: logoConsument;
  	animation-iteration-count: 1;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
 	animation-delay: 0s;
}

@keyframes logoConsument {
  from {
    opacity: 1.0;
  }
  to {
    opacity:0.0;
  }
}

.criminal{
	animation-name: criminal;
	position: absolute; 
	width: 63%; display: 
	block; transform: translate(30%, -25%);
	animation-iteration-count: 5;
  	animation-duration: .1s;
  	animation-delay: 2s;
 	animation-fill-mode: backwards;
 	opacity: 0.0;
}

@keyframes criminal {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity:0.2;
  }
}

.firstScene, .buttonFirstScene{
	opacity: 0.0;
	animation-name: firstScene;
	animation-iteration-count: 1;
  	animation-duration: 2s;
  	animation-delay: 1s;
 	animation-fill-mode: forwards;
}

@keyframes firstScene {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity:1.0;
  }
}

.lastScene, .buttonLastScene{
	opacity: 1.0;
	animation-name: lastScene;
	animation-iteration-count: 1;
  	animation-duration: 5s;
  	animation-delay: 2s;
 	animation-fill-mode: forwards;
}

@keyframes lastScene {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity:0.0;
  }
}


.fish1{
	transform: translate(400%, -300%);
	z-index: -1;
	width: 20%;
	position: absolute;
	opacity: 1.0;
	animation-name: fishOne;
	animation-iteration-count: infinite;
  	animation-duration: 5s;
  	animation-delay: 5s;
}

@keyframes fishOne {
  0% {
    transform: translate(400%, -300%);
  }
  100% {
    transform: translate(50%, -300%);
  }
}

.fish2{
	transform: translate(350%, -380%);
	z-index: -1;
	width: 20%;
	position: absolute;
	opacity: 1.0;
	animation-name: fishTwo;
	animation-iteration-count: infinite;
  	animation-duration: 5s;
  	animation-delay: 2s;
}

@keyframes fishTwo {
  0% {
   transform: translate(350%, -380%);
  }
  100% {
    transform: translate(50%, -380%);
  }
}


.fish3{
	transform: translate(600%, -280%);
	z-index: -1;
	width: 20%;
	position: absolute;
	opacity: 1.0;
	animation-name: fishThree;
	animation-iteration-count: infinite;
  	animation-duration: 5s;
  	animation-delay: 0s;
}

@keyframes fishThree {
  0% {
    transform: translate(600%, -280%);
  }
  100% {
    transform: translate(50%, -280%);
  }
}

.letter{
	width: 65%;
	transform: translate(27%, -144%);
	opacity: 0.0;
	position: absolute;
	animation-name: letter;
	animation-iteration-count: infinite;
  	animation-duration: 5s;
  	animation-delay: 1s;
}

@keyframes letter {
  0% {
    opacity:0.0;
  }

  70%{
  	opacity:1.0;
  }

  71%{
  	opacity:0.0;
  }

  100% {
    opacity:0.0;
  }
}


